flask>=2.0.0
gunicorn>=20.1.0

flask_cors
big-O-calculator==0.0.9.8.4
bintrees==2.2.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
coverage==7.2.2
cycler==0.11.0
distlib==0.3.6
filelock==3.10.7
Flask==2.2.3
pymysql
# default-libmysqlclient-dev
# Flask-MySQLdb
Flask-Testing==0.8.1
fonttools==4.38.0
igraph==0.10.2
importlib-metadata==6.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
# mysqlclient==2.1.1
packaging==21.3
patsy==0.5.2
Pillow==9.2.0
platformdirs==3.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
source==1.2.0
tailer==0.4.1
textrazor==1.4.0
texttable==1.6.4
threadpoolctl==3.1.0
tk==0.1.0
virtualenv==20.21.0
Werkzeug==2.2.3
zipp==3.15.0
